:root {
    --primary-color: #7b68ee; /* Primary color for buttons and links */
    --secondary-color: #DECEE1; /* Secondary color for shadows */
    --text-color: #333; /* Text color for main content */
    --font-primary: 'Inconsolata', monospace; /* Primary font for the website */
    --font-secondary: 'Montserrat', sans-serif; /* Secondary font for headers */
}

nav button {
    background-color: var(--primary-color); /* Background color for buttons */
    border: 2px solid var(--primary-color); /* Border color for buttons */
    border-radius: 25px; /* Border radius for buttons */
    padding: 10px 20px; /* Padding for buttons */
    margin: 0 10px; /* Margin for buttons */
    cursor: pointer; /* Cursor style for buttons */
    color: white; /* Text color for buttons */
    font-weight: bold; /* Font weight for buttons */
    transition: background-color 0.2s ease-in-out; /* Transition effect for buttons */
}

nav button:hover {
    background-color: #483d8b; /* Background color for buttons on hover */
    border-color: #483d8b; /* Border color for buttons on hover */
}

body {
    font-family: var(--font-primary);
    background-image: url('clemsonimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #FFCD91;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px var(--secondary-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    Display: none;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--secondary-color);
}

section h2 {
    font-style: italic;
    font-family: var(--font-secondary);
    color: var(--text-color);
    font-size: 40px;
    font-weight: bold;
}

section p,
section li,
section a {
    font-family: var(--font-primary);
    color: var(--text-color);
}

section p {
    font-size: 20px;
    font-weight: normal;
}

section li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
}

section a {
    font-size: 16px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    max-height: 25%;
}

.centered-text {
    text-align: center;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.project {
    width: 500px;
    max-width: 80%;
    background-color: #f2f2f2;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 2em;
    text-align: center;
    margin: 0 auto;
}


